.ff{
    position: absolute;
width: 324px;
height: 527px;
left: 20px;
top: 211px;

font-family: 'Kalpurush';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 25px;

color: #000000;

}